@page
@model Subject.IndexModel
@{
    ViewData["Title"] = "Subject manipulation";
}

<div class="row">
    <div class="col">
        <h1>Add, Edit, Delete subjects</h1>
    </div>
</div>
<div class="jumbotron-fluid">
    <a asp-page="./Add" class="btn btn-primary">(+) subject Add</a>
</div>
@if (Model.MessageSuccess?.Length > 0)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">@TempData["MessageSuccess"]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}
@if (Model.MessageError?.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">@TempData["MessageError"]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}

